.mbody{
    background-image: url(./body.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: antiquewhite;
}
.title{
    margin: auto; 
    color:#000000 ;
}
@media (max-width:670px) {
    .txt{
        width:100%}

    .mainQ{
        margin-top: 300px;
        margin-top: 200px
    } 
}
.mainDiv {
    display: grid;
    width: 60rem;
    margin-left: 20rem;
    margin-right: auto;
    margin-top: 3.5rem;
}


.rightDiv {
    border: 2px solid ;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    display: grid;
    background-color: white;
    padding: 10px ;
    height: 100%;

}

.form {
    margin: auto;
    width: 90%;
    display: grid;
    row-gap: 20px;
    background-color: white;

}

.message {
    color: red;
    margin: auto;
    margin-top: 7px;
}

.img {
    width: 70%;
    margin: auto;
}
.errorMessage {
    color: red;
    position:'relative';
    margin-top: 7px;
    height: 14px;
    font-size: 10pt;

}
.passMessage {
    color: green;
    position:'relative';
    margin-top:7px;
    height: 14px;
    font-size: 10pt;
}
.meesageValidate{
    position:'absolute'
}

.emailMsg{
    margin-top: -15px;
}

.msg {
    margin-top: 0px;
}
.signUpButton{
    background-color: rgb(0, 0, 0);
    height: 40px;
    border: 2px solid black;
    border-radius: 10px ;
    color: white;
    
}


